.MMM-bergfex .title {
	font-weight: bold;
	font-size: 18px;
}

.MMM-bergfex th {
	padding-right: 20px; 
}

.MMM-bergfex td {
	padding-right: 20px; 
	min-width: 35px; 
}

.italic {
    font-style: italic;
}